<html>
    <head>
        <style>
            body{
                background-color: aquamarine;
            }
        </style>
        </head>
        <body>
               
            <h1>Hello</h1>
            <p>Everyone</p>
            <h2>Hobbies</h2>
        </body>
    
</html>